{#
  Title: Title
  Description: Title with Yellow Bar
  Category: grit
  Icon: align-full-width
  Keywords: title, compass
  Mode: preview
#}

<p id="{{ fields.title | lower }}" class="uppercase font-poppins {{ fields.style }} {{ classes }}">
{{ fields.title }}
</p>
