.has-fade-out-gradient-background {
  background: linear-gradient(180deg, rgba(255,255,0,1) 0%, rgba(255,255,0,0) 100%);
}

.has-purple-gradient-background {
  background: linear-gradient(83.26deg, #8D6465 19.68%, #6F42B5 100.68%);
}

<<<<<<< HEAD
=======
.recruiter-bio-card {
  border-radius: 1rem;
  border-bottom-width: 1.875rem;
  border-color: #00283c;
}

.recruiter-bio-card .wp-block-group__inner-container {
  padding: 1rem;
}
>>>>>>> dev
