@import 'tailwindcss/base';
@layer base {

  @font-face {
    font-family: "TrendaIGDisplay-Regular";
    src: url('/assets/fonts/trenda/TrendaIGDisplay-Regular.woff2') format('woff2'),
    url('/assets/fonts/trenda/TrendaIGDisplay-Regular.woff') format('woff');
    font-weight: normal;
  }

  @font-face {
    font-family: "TrendaIGDisplay-Light";
    src: url('/assets/fonts/trenda/TrendaIGDisplay-Light.woff2') format('woff2'),
    url('/assets/fonts/trenda/TrendaIGDisplay-Light.woff') format('woff');
    font-weight: 300;
  }

  @font-face {
    font-family: "TrendaIGDisplay-Semibold";
    src: url('/assets/fonts/trenda/TrendaIGDisplay-Semibold.woff2') format('woff2'),
    url('/assets/fonts/trenda/TrendaIGDisplay-Semibold.woff') format('woff');
    font-weight: 600;
  }

  @font-face {
    font-family: "TrendaIGDisplay-Bold";
    src: url('/assets/fonts/trenda/TrendaIGDisplay-Bold.woff2') format('woff2'),
    url('/assets/fonts/trenda/TrendaIGDisplay-Bold.woff') format('woff');
    font-weight: 700;
  }

  .font-trenda-semibold {
    @apply font-semibold;
  }

  body {
    @apply font-poppins leading-[1.5];
  }

  h1, .h1, .H1,
  h2, .h2, .H2,
  h3, .h3, .H3,
  h4, .h4, .H4,
  h5, .h5, .H5,
  h6, .h6, .H6 {
    @apply font-trenda-semibold text-[#333333] font-semibold leading-[1.2] xl:leading-[1.1] mb-4;
  }

  h1,
  .h1,
  .H1 {
    @apply text-[2.25rem] sm:text-[3rem] xl:text-[3.5rem];
  }

  h2,
  .h2,
  .H2 {
    @apply text-[1.75rem] sm:text-[2.25rem] xl:text-[2.5rem];
  }

  h3,
  .h3,
  .H3 {
    @apply text-[1.5rem];
  }

  h4,
  .h4,
  .H4 {
    @apply text-[1.25rem];
  }

  a {
    @apply font-poppins text-link hover:underline;
  }

  .has-primary-background-color a,
  .has-black-background-color a {
    @apply text-family-blue;
  }

  .wrapper {
    @apply container mx-auto px-4 xl:px-0;
  }

  blockquote, dl, dd, hr, figure, p, pre {
    @apply mb-4;
  }

  small,
  .small {
    @apply font-poppins text-[.75rem];
  }

}

/**
 * Root Media Query Variables
 */
:root {
	/* Spacing */
	--global--spacing-unit: 20px;
	--global--spacing-measure: unset;
	--global--spacing-horizontal: 20px;
	--global--spacing-vertical: 30px;

	--responsive--spacing-horizontal: calc(2 * var(--global--spacing-horizontal) * 0.6);
	--responsive--aligndefault-width: calc(100vw - var(--responsive--spacing-horizontal));
	--responsive--alignwide-width: calc(100vw - var(--responsive--spacing-horizontal));
	--responsive--alignfull-width: 100%;
	--responsive--alignright-margin: var(--global--spacing-horizontal);
	--responsive--alignleft-margin: var(--global--spacing-horizontal);

  /* Custom */
  --primary: #00283c;
  --secondary: #ff0;
  --plyr-color-main: var(--secondary);
}

@media only screen and (min-width: 482px) {

	:root {
		--responsive--aligndefault-width: min(calc(100vw - 4 * var(--global--spacing-horizontal)), 610px);
		--responsive--alignwide-width: calc(100vw - 4 * var(--global--spacing-horizontal));
		--responsive--alignright-margin: calc(0.5 * (100vw - var(--responsive--aligndefault-width)));
		--responsive--alignleft-margin: calc(0.5 * (100vw - var(--responsive--aligndefault-width)));
	}

}

@media only screen and (min-width: 822px) {

	:root {
		--responsive--aligndefault-width: min(calc(100vw - 8 * var(--global--spacing-horizontal)), 610px);
		--responsive--alignwide-width: min(calc(100vw - 8 * var(--global--spacing-horizontal)), 1240px);
	}

}

.wp-block {
	max-width: var(--responsive--aligndefault-width);
}

.wp-block[data-align=wide],
.wp-block.alignwide {
	max-width: var(--responsive--alignwide-width);
}

.wp-block[data-align=full],
.wp-block.alignfull {
	max-width: none;
}

/**
 * Extends
 */
.widget-area,
.pagination,
.comments-pagination,
.post-navigation,
.site-footer,
.site-header,
.alignwide,
.wide-max-width {
  max-width: var(--responsive--alignwide-width);
  margin-left: auto;
  margin-right: auto;
}

.alignwide {
  @apply container mx-auto px-4 2xl:px-[2.375rem];
}

.alignfull,
.wp-block-group .wp-block-group__inner-container > *.alignfull,
.full-max-width {
  max-width: var(--responsive--alignfull-width);
  width: var(--responsive--alignfull-width);
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 482px) {

  .alignfull,
  .full-max-width {
    max-width: var(--responsive--alignfull-width);
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

}

.entry-header .post-thumbnail,
.singular .post-thumbnail,
.alignfull [class*=inner-container] > .alignwide,
.alignwide [class*=inner-container] > .alignwide {
  margin-left: auto;
  margin-right: auto;
  width: var(--responsive--alignwide-width);
  max-width: var(--responsive--alignfull-width);
}

@media only screen and (min-width: 482px) {

  .article-body > .alignleft {

    /*rtl:ignore*/
    margin-left: var(--responsive--alignleft-margin);

    /*rtl:ignore*/
    margin-right: var(--global--spacing-horizontal);
  }

  .article-body > .alignright {

    /*rtl:ignore*/
    margin-left: var(--global--spacing-horizontal);

    /*rtl:ignore*/
    margin-right: var(--responsive--alignright-margin);
  }

}

.display-heading {
  @apply text-[50px] lg:text-[100px];
}

article ol {
  @apply list-decimal pl-4 pb-4;
}

article ul {
  @apply list-none pl-4 pb-4;
}

article ul li {
  @apply relative pl-2 mb-6 lg:mb-8;
}

article ul:not([class]) li:before {
  content: "—";
  margin-left: -1.25rem;
  position: absolute;
  left: 0;
}

.has-secondary-color a {
  @apply hover:text-primary;
}
